
.root {
    -fx-background-image: url("../images/background.jpg");
    -fx-background-size: cover;
}

.buttonNavigationPage {
    -fx-font: 16px "Serifa";
    -fx-font-weight: bold;
    -fx-padding: 10;
    -fx-background-color: #adf3ff;
}

.riseImage {
}
